<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Accounts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>C11-part2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CtorDtorExceptHandle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DiamondMI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ExceptionHandle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>FileIO-2-errorhandling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>FileIO-I.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>NestedExcept.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NoExcept.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>PureAbstract.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RTTI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RawString11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>StackUnwindExcept.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TemplateExplSpec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Templates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>VirtDiamond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>fileIO-I.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>filesystem17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>final_override.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7712EB77207D31ED00F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EB82207DEED900F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EB8D207E1F3B00F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EB98207E30D500F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EBA3207E72F400F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EBAE207E7AB500F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EBB9207E827B00F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EBC4207F15D100F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7712EBCF207F19AA00F123FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7778D264207B2DFD008A4EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7778D279207B9356008A4EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987B1F2074B47500B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987B302074FFE700B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987B492077EE1700B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
