<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Car-class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Cpp-string.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>DefaultDelete.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>DynMemory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Init-Non-static-data-member.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Initializer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>InitializerList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>L-Rvalues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>MoveCtor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Namespace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Op-overload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Range-forloop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Smart_ptr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>String-C-style.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>String-assignment2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>autoInC11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>constexprCpp11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>copy-ctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>delegatinCtor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>funcOverload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>func_overload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>reference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>scoped-enum11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>stl-smrt-ptrs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>string-assignment1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>stringstream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>type-conversion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>774186D4203F2783006B6154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774186E2203FDFC2006B6154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774186ED20408FA7006B6154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774186F82040F636006B6154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7741870320412216006B6154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7741870E20426C70006B6154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775445CA206D5A9D007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775445D5206D5E4E007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775445E0206D6A28007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775445EB206E1575007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775445F6206E2C56007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77544604206E37F7007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7754460F206E3C36007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7754461A206E40ED007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77544625206E47A3007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77544630206EA982007E1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987A91207102EA00B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AA0207106ED00B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AAB20710B9000B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AB72072943200B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AC22072A1E800B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987ACD2072A3DE00B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AD820734AFC00B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AE320738A9A00B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AEE207393B000B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987AF92073A9B400B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987B042073AFC700B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77987B0F2073EF2A00B12F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
